
    <!-- Page Title -->
    <section class="page-title">
      <div class="bg" data-parallax='{"y": 50}' style="background-image: url(assets/images/background/bg-7.jpg);"></div>
      <div class="auto-container">
          <div class="content-box">
              <div class="content-wrapper">
                  <ul class="bread-crumb">
                      <li><a routerLink="/">Home</a></li>
                      <li>Maß Anfertigung</li>
                  </ul>
                  <div class="title">
                      <h1>Maß Anfertigung</h1>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Sidebar Page Container -->
  <div class="sidebar-page-container">
      <div class="auto-container">
          <div class="row">
              <div class="col-lg-8">
                  <div class="service-details">
                      <div class="image"><img src="/assets/images/pixabay/sewing.jpg" alt=""></div>
                      <h2 class="service-details-title">Maß Anfertigung</h2>
                      <h3 >Ein besonderes Kleidungsstück nur für Sie</h3>
                      <div class="service-details-description">Der Ethno- Modestill besteht aus einzigartigen Mustern und Farbkombinationen.
                        Die Ethno-Kleidung überzeugt durch ihren individuellen und einzigartigen Stil. Die bunten
                        und intensiven Farben gepaart mit traditionellen Mustern, machen den unvergleichlichen
                        Ethno-Look aus.</div>
                      <div class="service-details-description-two">Eine leichte Bluse, Tunika, Ponchos und Capes, kombiniert mit traditionellem Muster und
                        figurumspielende Schnitte, bieten Ihnen damit einen einzigartigen Stil.</div>
                      <div class="service-details-description">Vor allem in den besonderen Momenten des Lebens wollen wir uns von unserer besten Seite
                        zeigen, in einem Outfit, das nicht nur angenehm zu tragen ist, unserem Geschmack
                        entspricht, sondern auch unsere Persönlichkeit widerspiegelt.</div>
                      <div class="service-details-description">Wir fertigen Kleidung nach Maß für Damen, Herren, und auch Kinder, ganz nach Ihren
                        Vorstellungen und wünschen, für jeden beliebigen Anlass.</div>
                      <div class="service-details-description mb-50">Sie können unsere Bilder-Galerie besuchen, um einzigartige Kleidungstücke in
                        Konfektionsgröße zu kaufen. Ob ein elegantes Kleid für eine ausgelassene Ballnacht, ein
                        schicker Blazer für die Arbeit – kein Wunsch bleibt unerfüllt. Angefangen bei der Farbe über
                        den Stoff bis hin zum Schnitt, sämtliche Details werden individuell auf Ihre Wünsche
                        abgestimmt.</div>
                  </div>
                  <div class="link-btn"><a routerLink="/gallery" class="theme-btn btn-style-two"><span>GALLERY</span></a></div>
              </div>
              <div class="col-lg-4">
                  <aside class="sidebar blog-sidebar">

                      <!--service Category Widget-->
                      <div class="service-category-widget">
                          <ul class="service-cat-list">
                              <li class="active"><a routerLink="/measure">Maß Anfertigung</a></li>
                              <li ><a routerLink="/accessoires">Accessories</a></li>
                              <li><a routerLink="/reperatur">Reperatur und Änderungen</a></li>
                              <li><a routerLink="/altnachneu">Nachhaltigkeit Wiederverwendung- Aus Alt mach Neue</a></li>
                              <li><a routerLink="/haushalt">Vorhänge und Polster</a></li>
                          </ul>
                      </div>
                      <!-- consult widget -->
                      <div class="consult-widget" style="background-image: url(assets/images/resource/image-39.jpg);">
                          <div class="consult-widget_icon"><i class="flaticon-phone-call"></i></div>
                          <div class="consult-widget_title">Kontaktieren Sie <br> uns für jedes <br> Kleid</div>
                          <div class="consult-widget_phone_title">Rufen Sie jederzeit an</div>
                          <div class="consut-widget_phone_number"><a href="tel:+43 660 4578939">+43 660 4578939</a></div>
                      </div>
                 </aside>
              </div>
          </div>
      </div>
  </div>


