
    <!-- Page Title -->
    <section class="page-title">
      <div class="bg" data-parallax='{"y": 50}' style="background-image: url(assets/images/background/bg-7.jpg);"></div>
      <div class="auto-container">
          <div class="content-box">
              <div class="content-wrapper">
                  <ul class="bread-crumb">
                      <li><a routerLink="/">Home</a></li>
                      <li>Accessoires</li>
                  </ul>
                  <div class="title">
                      <h1>Accessoires</h1>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Sidebar Page Container -->
  <div class="sidebar-page-container">
      <div class="auto-container">
          <div class="row">
              <div class="col-lg-8">
                  <div class="service-details">
                      <div class="image"><img src="/assets/images/main/8.jpeg" alt=""></div>
                      <h2 class="service-details-title">Accessoires</h2>
                      <div class="service-details-description">Alle Schmuckstücke sind handgemacht und im Haus hergestellt.
                        offenbaren den starken Hang der Damenkleider nach solchen Schmuckelementen.
                        Alle Ohrringe sowohl Armbänder als auch Halsketten sind Unikate.
                        Der Ethno-Look spielt bei den Taschen eine herausragende Rolle. Taschen sollen möglichst
                        farbenfroh und vielleicht ein wenig verspielt sein.</div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <aside class="sidebar blog-sidebar">

                      <!--service Category Widget-->
                      <div class="service-category-widget">
                          <ul class="service-cat-list">
                              <li><a routerLink="/measure">Maß Anfertigung</a></li>
                              <li class="active"><a routerLink="/accessoires">Accessories</a></li>
                              <li><a routerLink="/reperatur">Reperatur und Änderungen</a></li>
                              <li><a routerLink="/altnachneu">Nachhaltigkeit Wiederverwendung- Aus Alt mach Neue</a></li>
                              <li><a routerLink="/haushalt">Vorhänge und Polster</a></li>
                          </ul>
                      </div>
                      <!-- consult widget -->
                      <div class="consult-widget" style="background-image: url(assets/images/resource/image-39.jpg);">
                          <div class="consult-widget_icon"><i class="flaticon-phone-call"></i></div>
                          <div class="consult-widget_title">Kontaktieren Sie <br> uns für jedes <br> Kleid</div>
                          <div class="consult-widget_phone_title">Rufen Sie jederzeit an</div>
                          <div class="consut-widget_phone_number"><a href="tel:+43 660 4578939">+43 660 4578939</a></div>
                      </div>
                 </aside>
              </div>
          </div>
      </div>
  </div>


