
    <!-- Page Title -->
    <section class="page-title">
        <div class="bg" data-parallax='{"y": 50}' style="background-image: url(assets/images/pexels/6.jpg);"></div>
        <div class="auto-container">
            <div class="content-box">
                <div class="content-wrapper">
                    <ul class="bread-crumb">
                        <li><a routerLink="/">Startseite</a></li>
                        <li>Über uns</li>
                    </ul>
                    <div class="title">
                        <h1>Über uns</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- introduction-section two -->
    <section class="introduction-section-two">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="sec-title-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="sec-title-dec"><img src="assets//images/shape/shape-1.png" alt=""></div>
                        <div class="sub-title">Über uns</div>
                        <h2 class="sec-title mb-35">Wir nähen nur nach Ihren  <br> Wünschen</h2>
                    </div>
                    <div class="introduction-section-two_description mb-30">Wir sind eine kleine Schneiderei in Wolfsberg und übernehmen sämtliche
                        Änderungensarbeiten,  Reparaturen, und auch Neuanfertigungen nach Maß.
                        Unsere Stärke liegt darin eine Ethnische Motiv kombinieren mit allen
                        Kleidungsstücke. Bei jeder einzelnen Person wird Maßgenommen, probiert, und
                        schnell und termingerecht zuliefern, da alles in unserem Haus gefertigt wird. Einen
                        neun Look, einzigartigen Mode sind unsere Leidenschaftliches Arbeit.
                        Vielleicht haben wir uns Ihr Interesse an uns geweckt, dann würden wir uns über eine
                         Kontaktaufnahme sehr freuen!</div>
                        <div class="introduction-section-two_description mb-30">
                        <ul class="customStyle"><h3 class="sec-title mb-35">Mein berufliche Laufbahn</h3>
                          <li><p><b>Meisterprüfung zur Damenkleidermacherin auf der WKO Steiermark</b></p></li>
                          <li><p><b>Änderungsschneiderei in Wien; Selbstständig</b></p></li>
                          <li><p><b>Doren Design – Braut Hochzeits- &amp; Festtagsmode; Bekleidungsgestalterin</b></p></li>
                          <li><p><b>Trachten Couture Erbstücke – Ulrike Seebacher; Schneiderin</b></p></li>
                          <li><p><b>MM Matratzen Manufaktur GmbH; Schneiderin</b></p></li>
                          <li><p><b>Ausbildung zur Schneiderin an der National Design Center in Ulaanbaatar</b></p></li>
                        </ul>
                      </div>
                    <div class="progress-levels mb-30">

                    </div>
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="introduction-block_contact-info">
                                <div class="introduction-block_phone-title">Rufen Sie jederzeit an</div>
                                <div class="introduction-block-phone"><a href="tel:+43 660 4578939">+43 660 4578939</a></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="introduction-block-two_author-wrapper wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                <div class="introduction-block-two_author-thumb"><img src="assets/images/logo-dark.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="introduction-block-two_image-wrapper wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="introduction-block-two_image img_hover_3"><img src="assets/images/main/10.jpeg" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our testimonials -->
    <section class="our-testimonials-section-two style-two">
        <div class="auto-container">
            <div class="text-center">
                <div class="sec-title-dec"><img src="assets//images/shape/shape-1.png" alt=""></div>
                <div class="sub-title">Unsere Erfahrungsberichte</div>
                <div class="sec-title">Was sie sagen</div>
            </div>
            <div class="theme_carousel owl-theme owl-carousel owl-style-one" data-options='{"loop": true, "center": false, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 1000, "responsive":{ "0" :{ "items": "1" }, "480" :{ "items" : "1" }, "600" :{ "items" : "2" }, "768" :{ "items" : "2" } , "992":{ "items" : "3" }, "1200":{ "items" : "3" }}}'>
                <div class="testimonial-block-two">
                    <div class="testimonial-block-two_image"><img src="assets/images/resource/image-6.png" alt=""></div>
                    <div class="testimonial-block-two_text">I was very impresed by the company services lorem ipsum is simply free text available used by copytyping refreshing. Neque porro est qui dolorem ipsum quia.</div>
                    <div class="testimonial-block-two_name">Mike Hardson</div>
                   <div class="testimonial-block-two_dasignation">Customer</div>
                </div>

                <div class="testimonial-block-two">
                    <div class="testimonial-block-two_image"><img src="assets/images/resource/image-7.png" alt=""></div>
                    <div class="testimonial-block-two_text">I was very impresed by the company services lorem ipsum is simply free text available used by copytyping refreshing. Neque porro est qui dolorem ipsum quia.</div>
                    <div class="testimonial-block-two_name">Sarah Albert</div>
                   <div class="testimonial-block-two_dasignation">Customer</div>
                </div>

                <div class="testimonial-block-two">
                    <div class="testimonial-block-two_image"><img src="assets/images/resource/image-8.png" alt=""></div>
                    <div class="testimonial-block-two_text">I was very impresed by the company services lorem ipsum is simply free text available used by copytyping refreshing. Neque porro est qui dolorem ipsum quia.</div>
                    <div class="testimonial-block-two_name">Kevin Martin</div>
                   <div class="testimonial-block-two_dasignation">Customer</div>
                </div>
            </div>
        </div>
    </section>



    <!-- Our Team Section -->
    <section class="our-team-section">
        <div class="auto-container">
            <div class="sec-title-box text-center">
                <div class="sec-title-dec"><img src="assets//images/shape/shape-1.png" alt=""></div>
                <div class="sub-title">Unsere Schneider</div>
                <h2 class="sec-title">Treffen Sie die Schneider</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 team-block-one">
                    <div class="inner-box">
                       <div class="team-block-one_image img_hover_1"><img src="assets/images/pexels/1.jpg" alt=""></div>
                        <div class="team-block-one_lower-content">
                            <div class="team-block-one_name">Tsogzolmaa</div>
                            <div class="team-block-one_designation">Tailor</div>
                            <ul class="team-block-one_social-links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 team-block-one">
                    <div class="inner-box">
                       <div class="team-block-one_image img_hover_1"><img src="assets/images/pexels/1.jpg" alt=""></div>
                        <div class="team-block-one_lower-content">
                            <div class="team-block-one_name">Tsogzolmaa</div>
                            <div class="team-block-one_designation">Tailor</div>
                            <ul class="team-block-one_social-links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 team-block-one">
                    <div class="inner-box">
                       <div class="team-block-one_image img_hover_1"><img src="assets/images/pexels/1.jpg" alt=""></div>
                        <div class="team-block-one_lower-content">
                            <div class="team-block-one_name">Tsogzolmaa</div>
                            <div class="team-block-one_designation">Tailor</div>
                            <ul class="team-block-one_social-links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

