<!-- Bnner Section -->
<section class="banner-section">
  <div class="swiper-container banner-slider">
    <div class="swiper-wrapper">
      <!-- Slide Item -->
      <div class="swiper-slide" style="background-image: url(assets/images/pexels/6.jpg);">
        <div class="content-outer">
          <div class="content-box">
            <div class="inner">
              <h4>Willkommen in unserem Maßschneiderei</h4>
              <h1>Kreieren Sie Ihren <br> eigenen persönlichen Stil</h1>
              <div class="link-box">
                <a href="services.html" class="theme-btn btn-style-one"><span>Entdecken Sie mehr</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slide Item -->
      <div class="swiper-slide" style="background-image: url(assets/images/pexels/8.jpg);">
        <div class="content-outer">
          <div class="content-box">
            <div class="inner">
              <h4>Willkommen in unserem Maßschneiderei</h4>
              <h1>Kreieren Sie Ihren <br> eigenen persönlichen Stil</h1>
              <div class="link-box">
                <a href="services.html" class="theme-btn btn-style-one"><span>Entdecken Sie mehr</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-slider-nav">
    <div class="banner-slider-control banner-slider-button-prev"><span><i class="fas fa-arrow-right"></i></span></div>
    <div class="banner-slider-control banner-slider-button-next"><span><i class="fas fa-arrow-right"></i></span> </div>
  </div>
</section>
<!-- End Bnner Section -->

<!-- Willkommensbereich -->
<section class="welcome-section">
  <div class="auto-container">
    <div class="row">
      <div class="col-lg-7">
        <div class="image-block wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="row">
            <div class="col-md-6">
              <div class="image-one" data-parallax='{"y": -30}'><img src="assets/images/main/9.jpeg" alt=""></div>
            </div>
            <div class="col-md-6">
              <div class="image-two" data-parallax='{"y": 30}'><img src="assets/images/main/10.jpeg" alt=""></div>
            </div>
          </div>
          <div class="experience-year"><h3>Über</h3>Mehr als <br>Jahre Erfahrung </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="sec-title-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="sec-title-dec"><img src="assets//images/shape/shape-1.png" alt=""></div>
          <div class="sub-title">Entdecken Sie unsere Dienstleistungen</div>
          <h2 class="sec-title mb-35">Die besten Schneider in der Stadt</h2>
        </div>
        <div class="text">Wir sind eine kleine Schneiderei in Wolfsberg und übernehmen sämtliche Änderungsarbeiten sowie Reparaturen und individuelle Neuanfertigungen nach Maß. Unsere Stärke liegt darin, ethnische Motive mit allen Kleidungsstücken zu kombinieren. Bei jedem Kunden wird Maß genommen, anprobiert und zeitgerecht angefertigt – alles wird in unserem eigenen Haus durchgeführt und gefertigt. Neue Looks und einzigartige Mode sind unsere Leidenschaft. Wenn wir Ihr Interesse geweckt haben, freuen wir uns auf Ihre Kontaktaufnahme!</div>
        <ul class="list">
          <li><img src="assets/images/shape/shape-2.png" alt="">Hochwertige Materialien</li>
          <li><img src="assets/images/shape/shape-2.png" alt="">Individuelle Anfertigungen</li>
          <li><img src="assets/images/shape/shape-2.png" alt="">Zeitgerechte Lieferung</li>
          <li><img src="assets/images/shape/shape-2.png" alt="">Stilvolle Kollektionen</li>
        </ul>
        <div class="author-wrapper wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="author-thumb"><img src="assets/images/logo-dark.png" alt=""></div>
          <div class="signature"><h2>Schneider: Oyunsaikhan</h2></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Unsere Dienstleistungen -->
<section class="services-section" style="background-image: url(assets/images/background/bg-2.jpg);">
  <div class="auto-container">
    <div class="sec-title-box text-center">
      <div class="sec-title-dec"><img src="assets//images/shape/shape-1.png" alt=""></div>
      <div class="sub-title">Unsere Dienstleistungen entdecken</div>
      <h2 class="sec-title">Unsere Angebote</h2>
    </div>
    <div class="theme_carousel owl-theme owl-carousel owl-style-one" data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 1000, "responsive":{ "0" :{ "items": "1" }, "480" :{ "items" : "1" }, "600" :{ "items" : "2" }, "768" :{ "items" : "2" } , "992":{ "items" : "3", "center": true }, "1200":{ "items" : "3", "center": true }}}'>
      <div class="col-lg-12 service-block-one">
        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="image img_hover_1"><img src="assets/images/resource/image-3.jpg" alt=""></div>
          <h4><a href="suits-shirts.html">Anzüge & Hemden</a></h4>
          <div class="text">Text hier einfügen <br> Text hier einfügen <br> Text hier einfügen</div>
        </div>
      </div>
      <div class="col-lg-12 service-block-one">
        <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
          <div class="image img_hover_1"><img src="assets/images/resource/image-4.jpg" alt=""></div>
          <h4><a href="wedding-dresses.html">Hochzeitskleider</a></h4>
          <div class="text">Text hier einfügen <br> Text hier einfügen <br> Text hier einfügen</div>
        </div>
      </div>
      <div class="col-lg-12 service-block-one">
        <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
          <div class="image img_hover_1"><img src="assets/images/resource/image-5.jpg" alt=""></div>
          <h4><a href="stylish-clothing.html">Stilvolle Kleidung</a></h4>
          <div class="text">Text hier einfügen <br> Text hier einfügen <br> Text hier einfügen</div>
        </div>
      </div>
      <!-- Weitere Dienstleistungen hier hinzufügen -->
    </div>
  </div>
</section>

<!-- Spaßfakten -->
<section class="funfacts-section">
  <div class="auto-container">
    <div class="row">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-6">
            <div class="funfacts-block wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms" style="background-image: url(assets/images/main/2.jpeg);">
              <div class="content-middle">
                <div class="funfacts-block_icon"><i class="flaticon-suit"></i></div>
                <h4 class="funfacts-block_title">Maßnehmen</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="funfacts-block wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms" style="background-image: url(assets/images/main/7.jpeg);">
              <div class="content-middle">
                <div class="funfacts-block_icon"></div>
                <h4 class="funfacts-block_title">Accessoires</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-6">
            <div class="funfacts-block wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms" style="background-image: url(assets/images/main/3.jpeg);">
              <div class="content-middle">
                <div class="funfacts-block_icon"><i class="flaticon-measuring"></i></div>
                <h4 class="funfacts-block_title">Körpermaße</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="funfacts-block wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms" style="background-image: url(assets/images/main/5.jpeg);">
              <div class="content-middle">
                <div class="funfacts-block_icon"><i class="flaticon-measuring"></i></div>
                <h4 class="funfacts-block_title">Traditionelle Kleidung</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Dienstleistungen zwei -->
<section class="services-two-section pt-0">
  <div class="top-area">
    <div class="auto-container full-width">
      <div class="row no-gutters">
        <div class="col-lg-6 image-bg" style="background-image: url(assets/images/pexels/5.jpg);">
          <div class="image d-lg-none"><img src="assets/images/pexels/5.jpg" alt=""></div>
        </div>
        <div class="col-lg-6">
          <div class="inner-container">
            <div class="sec-title-dec"><img src="assets//images/shape/shape-1.png" alt=""></div>
            <div class="sub-title light">Unsere Dienstleistungen</div>
            <h2 class="sec-title light mb-30">Hochzeits- oder Freizeitanzüge?</h2>
            <div class="text light mb-30">Text hier einfügen <br> Text hier einfügen <br> Text hier einfügen</div>
            <div class="link-btn"><a href="services.html" class="btn-style-one">Mehr erfahren</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-area">
    <div class="auto-container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="service-block-two wow fadeInDown" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="service-block-two_icon"><i class="flaticon-botton"></i></div>
            <h4 class="service-block-two_title">Qualitätsstoff</h4>
            <div class="service-block-two_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores temporibus mollitia eaque ducimus ex fugiat voluptate? Possimus iste vero hic minima in, inventore rerum eius? Quibusdam qui dolorum nam minus.</div>
          </div>
        </div>
        <!-- Weitere Dienstleistungen hier hinzufügen -->
      </div>
    </div>
  </div>
</section>

<!-- Kundenbewertungen -->
<section class="testimonials-section">
  <div class="auto-container full-width">
    <div class="row no-gutters">
      <div class="col-xl-6">
        <div class="testimonial-block-wrapper">
          <div class="sec-bg" style="background-image: url(assets/images/background/bg-1.jpg);"></div>
          <div class="testimonial-block">
            <h4 class="testimonial-block_title">Was sie sagen</h4>
            <div class="swiper-container testimonial-thumbs">
              <div class="swiper-wrapper">
                <!-- Kundenbilder hier einfügen -->
              </div>
            </div>
            <!-- Swiper -->
            <div class="swiper-container testimonial-content">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonial-block_text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor sit, amet consectetur adipisicing</div>
                  <div class="testimonial-block_name">Christine Eve</div>
                </div>
                <div class="swiper-slide">
                  <div class="testimonial-block_text">Lorem ipsum dolor sit, amet consectetur adipisicing. Lorem ipsum dolor sit, amet consectetur adipisicing</div>
                  <div class="testimonial-block_name">Christine Eve</div>
                </div>
                <div class="swiper-slide">
                  <div class="testimonial-block_text">Lorem ipsum dolor sit, amet consectetur adipisicing. Lorem ipsum dolor sit, amet consectetur adipisicing</div>
                  <div class="testimonial-block_name">Christine Eve</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="ml-lg-30">
          <div class="row no-gutters">
            <div class="col-lg-6">
              <div class="image-100 img_hover_3"><img src="assets/images/pexels/9(1).jpg" alt=""></div>
            </div>
            <div class="col-lg-6">
              <div class="image-100 img_hover_3"><img src="assets/images/pexels/10(1).jpg" alt=""></div>
            </div>
            <!-- Weitere Kundenbilder hier einfügen -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Unser Team -->
<section class="our-team-section">
  <div class="auto-container">
    <div class="sec-title-box text-center">
      <div class="sec-title-dec"><img src="assets//images/shape/shape-1.png" alt=""></div>
      <div class="sub-title">Unsere Schneider</div>
      <h2 class="sec-title">Lernen Sie die Schneider kennen</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 team-block-one">
        <div class="inner-box">
          <div class="team-block-one_image img_hover_1"><img src="assets/images/pexels/1.jpg" alt=""></div>
          <div class="team-block-one_lower-content">
            <div class="team-block-one_name">Tsogzolmaa</div>
            <div class="team-block-one_designation">Schneider</div>
            <ul class="team-block-one_social-links">
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Weitere Teammitglieder hier hinzufügen -->
    </div>
  </div>
</section>

<!-- Kartenabschnitt -->
<section class="map-section pb-0 pt-0">
  <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=de&amp;q=Hermann-Fischer-Stra%C3%9Fe%202,%209400%20Wolfsberg+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
</section>

<!-- Handlungsaufforderung -->
<section class="cta-section">
  <div class="auto-container">
    <div class="row">
      <div class="col-lg-5">
        <div class="cta-block-one_icon-box">
          <div class="cta-block-one_icon"><i class="flaticon-phone-call"></i></div>
          <div class="cta-block-one_text-two">Brauchen Sie einen Schneider? Rufen Sie uns an</div>
          <a class="cta-block-one_phone" href="tel:+43 660 4578938">+43 660 4578938</a>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="cta-block-one_inner-box">
          <div class="cta-block-one_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, quo ipsum? Expedita commodi possimus eligendi a sint et tenetur aliquam at, neque est odit sequi fugit, mollitia in cumque quaerat?</div>
          <div class="link-btn"><a href="contact.html" class="theme-btn btn-style-one cta-block-one_btn">Mehr erfahren</a></div>
        </div>
      </div>
    </div>
  </div>
</section>

  >
