<!-- Hauptkopfzeile -->
<header class="main-header header-style-one">

  <!-- Kopfzeile oben -->
  <div class="header-top">
      <div class="auto-container">
          <div class="inner-container">
              <div class="left-column">
                  <ul class="contact-info">
                      <li><i class="flaticon-pin"></i>Hermann-Fischer-Straße 2
                          9400 Wolfsberg</li>
                      <li><a href="mailto:zohimjethnobyoyuna@gmx.at"><i class="flaticon-email"></i>zohimjethnobyoyuna@gmx.at</a></li>
                      <li><i class="flaticon-clock"></i>Mo - Fr 8:00 - 13:00 , 14:00 - 17:00 , Samstag 8:00 - 13:00 Uhr</li>
                  </ul>
              </div>
              <div class="right-column">
                  <ul class="social-icon">
                      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                      <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <!-- Kopfzeile Oben -->
  <div class="header-upper">
      <div class="auto-container">
          <div class="inner-container">
              <div class="left-column">
                  <!--Logo-->
                  <div class="logo-box">
                      <div class="logo"><a href="index.html"><img src="assets/images/client-logo/logo1.png" alt=""></a></div>
                  </div>
                  <!--Navigationsfeld-->
                  <div class="nav-outer">
                      <!--Mobilnavigationsschalter-->
                      <div class="mobile-nav-toggler"><img src="assets/images/icons/icon-bar.png" alt=""></div>

                      <!-- Hauptmenü -->
                      <nav class="main-menu navbar-expand-md navbar-light">
                          <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                              <ul class="navigation">
                                  <li class="dropdown"><a routerLink="/">Startseite</a>
                                  </li>
                                  <li><a routerLink="/about">Über uns</a></li>
                                  <li><a routerLink="/service">Dienstleistungen</a></li>
                                  <li class="dropdown"><a routerLink="/gallery">Galerie</a></li>
                                  <li><a routerLink="/contact">Kontakt</a></li>
                              </ul>
                          </div>
                      </nav>
                  </div>
              </div>
              <div class="right-column">
                  <div class="navbar-right">
                      <div class="contact-info">
                          <div class="icon"><i class="flaticon-phone-call"></i></div>
                          <div class="content">
                              <h5>Anrufen</h5>
                              <h4><a href="tel:00436604578939">+43 660 4578939</a></h4>
                          </div>
                      </div>
                      <div class="link-btn"><a routerLink="/contact" class="theme-btn btn-style-two"><span>Termin buchen</span></a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Ende der Kopfzeile Oben -->

  <!-- Klebrige Kopfzeile -->
  <div class="sticky-header">
      <div class="header-upper">
          <div class="auto-container">
              <div class="inner-container">
                  <!--Logo-->
                  <div class="logo-box">
                      <div class="logo"><a href="index.html"><img src="assets/images/logo-dark.png" alt=""></a></div>
                  </div>
                  <div class="right-column">
                      <!--Navigationsfeld-->
                      <div class="nav-outer">
                          <!--Mobilnavigationsschalter-->
                          <div class="mobile-nav-toggler"><img src="assets/images/icons/icon-bar.png" alt=""></div>
                          <!-- Hauptmenü -->
                          <nav class="main-menu navbar-expand-md navbar-light">
                          </nav>
                      </div>
                      <div class="navbar-right">
                          <div class="contact-info">
                              <div class="icon"><i class="flaticon-phone-call"></i></div>
                              <div class="content">
                                  <h5>Anrufen</h5>
                                  <h4><a href="tel:00436604578939">+43 660 4578939</a></h4>
                              </div>
                          </div>
                          <div class="link-btn"><a routerLink="/contact" class="theme-btn btn-style-two"><span>Termin buchen</span></a></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div><!-- Ende der klebrigen Kopfzeile -->

  <!-- Mobiles Menü -->
  <div class="mobile-menu">
      <div class="menu-backdrop"></div>
      <div class="close-btn"><i class="icon fal fa-times"></i></div>

      <nav class="menu-box">
          <div class="menu-outer"><!--Hier wird das Menü automatisch über Javascript erscheinen / Gleiches Menü wie in der Kopfzeile--></div>
  <!--Soziale Links-->
  <div class="social-links">
    <ul class="clearfix">
      <li><a href="#"><span class="fab fa-twitter"></span></a></li>
      <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
      <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
      <li><a href="#"><span class="fab fa-instagram"></span></a></li>
      <li><a href="#"><span class="fab fa-youtube"></span></a></li>
    </ul>
          </div>
      </nav>
  </div><!-- Ende des mobilen Menüs -->

  <div class="nav-overlay">
      <div class="cursor"></div>
      <div class="cursor-follower"></div>
  </div>
</header>
<!-- Ende der Hauptkopfzeile -->
