
    <!-- Page Title -->
    <section class="page-title">
      <div class="bg" data-parallax='{"y": 50}' style="background-image: url(assets/images/background/bg-7.jpg);"></div>
      <div class="auto-container">
          <div class="content-box">
              <div class="content-wrapper">
                  <ul class="bread-crumb">
                      <li><a routerLink="/">Home</a></li>
                      <li>Nachhaltigkeit Wiederverwendung- Aus Alt mach Neue</li>
                  </ul>
                  <div class="title">
                      <h1>Nachhaltigkeit Wiederverwendung- Aus Alt mach Neue</h1>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Sidebar Page Container -->
  <div class="sidebar-page-container">
      <div class="auto-container">
          <div class="row">
              <div class="col-lg-8">
                  <div class="service-details">
                      <div class="image"><img src="assets/images/pixabay/suit.jpg" alt=""></div>
                      <h2 class="service-details-title">Nachhaltigkeit Wiederverwendung- Aus Alt mach Neue</h2>
                      <div class="service-details-description">Nachhaltigkeit ist ein integraler Bestandteil unserer Unternehmensphilosophie, dies wird
                        durch Wiederverwendung umgesetzt.</div>
                      <div class="service-details-description-two">Alles begann mit ein paar Stoffresten und einer alten Jeans, zu schade zum Wegwerfen - aus
                        alten Kleidungsstücken kann etwas komplett Neues nach eigenem Geschmack erschaffen
                        werden.</div>
                      <div class="service-details-description">Von der einmaligen Ethno-Tasche bis hin zur praktischen Shopping Bag - Taschen in allen
                        Formen und Farben werden von uns mit Freude und viel Liebe zum Detail entworfen und
                        sorgfältig hergestellt. Das Ergebnis sind langlebige Taschen in ausgezeichneter Qualität, die
                        nicht nur praktisch, sondern zudem auch alle einzigartig sind!</div>
                  </div>
              </div>
              <div class="col-lg-4">
                  <aside class="sidebar blog-sidebar">

                      <!--service Category Widget-->
                      <div class="service-category-widget">
                          <ul class="service-cat-list">
                              <li><a routerLink="/measure">Maß Anfertigung</a></li>
                              <li ><a routerLink="/accessoires">Accessories</a></li>
                              <li><a routerLink="/reperatur">Reperatur und Änderungen</a></li>
                              <li class="active"><a routerLink="/altnachneu">Nachhaltigkeit Wiederverwendung- Aus Alt mach Neue</a></li>
                              <li><a routerLink="/haushalt">Vorhänge und Polster</a></li>
                          </ul>
                      </div>
                      <!-- consult widget -->
                      <div class="consult-widget" style="background-image: url(assets/images/resource/image-39.jpg);">
                          <div class="consult-widget_icon"><i class="flaticon-phone-call"></i></div>
                          <div class="consult-widget_title">Kontaktieren Sie <br> uns für jedes <br> Kleid</div>
                          <div class="consult-widget_phone_title">Rufen Sie jederzeit an</div>
                          <div class="consut-widget_phone_number"><a href="tel:+43 660 4578939">+43 660 4578939</a></div>
                      </div>
                 </aside>
              </div>
          </div>
      </div>
  </div>


