    <!-- Seitentitel -->
    <section class="page-title">
      <div class="bg" data-parallax='{"y": 50}' style="background-image: url(assets/images/pexels/5.jpg);"></div>
      <div class="auto-container">
          <div class="content-box">
              <div class="content-wrapper">
                  <ul class="bread-crumb">
                      <li><a href="index.html">Startseite</a></li>
                      <li>Kontakt</li>
                  </ul>
                  <div class="title">
                      <h1>Kontakt</h1>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Kartenabschnitt -->
  <section class="map-section pb-0">
      <div class="auto-container">
        <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=de&amp;q=Hermann-Fischer-Stra%C3%9Fe%202,%209400%20Wolfsberg+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
      </div>
  </section>

  <!-- Kontaktinformationsabschnitt -->
  <section class="contact-info-section pt-0">
      <div class="auto-container">
          <div class="contact-info-wrapper">
              <div class="row">
                  <div class="col-lg-6 col-md-6 icon_box">
                      <div class="inner-box">
                          <div class="contact-info-section_text">E-Mail senden</div>
                          <h4 class="contact-info-section_title"><a href="mailto:zohimjethnobyoyuna@gmx.at">zohimjethnobyoyuna@gmx.at</a></h4>
                      </div>
                  </div>
                  <div class="col-lg-3 col-md-6 icon_box">
                      <div class="inner-box">
                          <div class="contact-info-section_text">Anrufen</div>
                          <h4 class="contact-info-section_title"><a href="tel:+43 660 4578939">+43 660 4578939</a></h4>
                      </div>
                  </div>
                  <div class="col-lg-5 col-md-6 icon_box">
                      <div class="inner-box">
                          <div class="contact-info-section_text">Jederzeit besuchen</div>
                          <h4 class="contact-info-section_title">Hermann-Fischerstraße 2
                            9400 Wolfsberg</h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <!-- Kontaktformularabschnitt -->
  <section class="contact-form-section">
     <div class="auto-container">
          <div class="contact-form-section_sec-title-area">
              <h2 class="sec-title">Schicken Sie uns jederzeit eine Nachricht</h2>
              <div class="contact-form-section_description">Quisque id tempus nibh, in varius nunc. Mauris non convallis nulla. <br> Morbi at urna hendrerit, finibus justo a, pellentesque diam. Vivamus <br> lacus metus, placerat ullamcorper turpis et.</div>
          </div>
          <div class="row">
              <div class="col-lg-8">
                  <!-- Kontaktformular -->
                  <div class="contact-form">
                      <form method="post" action="inc/sendmail.php" id="contact-form">
                          <div class="row">
                              <div class="form-group col-md-6">
                                  <input type="text" class="form-control" name="form_name" value="" placeholder="Ihr Name" required>
                              </div>
                              <div class="form-group col-md-6">
                                  <input type="email" class="form-control" name="form_email" value="" placeholder="Ihre E-Mail" required>
                              </div>
                              <div class="form-group col-md-6">
                                  <input type="text" class="form-control" name="form_phone" value="" placeholder="Telefonnummer" required>
                              </div>
                              <div class="form-group col-md-6">
                                  <input type="text" class="form-control" name="form_subject" value="" placeholder="Betreff" required>
                              </div>
                              <div class="form-group col-md-12">
                                  <textarea name="form_message" class="form-control" placeholder="Eine Nachricht schreiben"></textarea>
                              </div>
                              <div class="form-group col-md-12">
                                  <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                  <button class="btn-style-one dark" type="submit" data-loading-text="Bitte warten..."><span>Nachricht senden</span></button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
              <div class="col-lg-3 offset-lg-1">
                  <div class="contact-author">
                      <div class="contact-author_thumb"><img src="assets/images/pexels/1.jpg" alt=""></div>
                      <div class="contact-author_name">Vollständiger Name hier </div>
                      <div class="contact-author_designation">Schneider</div>
                  </div>
              </div>
          </div>
     </div>
  </section>
