<footer class="main-footer" style="background-image: url(assets/images/pexels/16.jpg);">
  <div class="auto-container">
      <!--Widgets-Bereich-->
      <div class="widgets-section">
          <div class="row">

              <!--Spalte-->
              <div class="column col-lg-5 col-md-12">
                  <div class="widget about-widget">
                      <div class="about-widget_text">
                          Über uns
                      </div>
                      <div class="about-widget_phone"><a href="tel:+43 660 4578939">+43 660 4578939</a></div>
                      <ul class="about-widget_social-links">
                          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      </ul>
                  </div>
              </div>

              <!--Spalte-->
              <div class="column col-lg-7 col-md-12">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="widget links-widget">
                              <h4 class="widget-title">Dienstleistungen</h4>
                              <div class="widget-content">
                                  <ul>
                                      <li><a href="outerwear.html">Oberbekleidung</a></li>
                                      <li><a href="suits-shirts.html">Anzüge & Hemden</a></li>
                                      <li><a href="wedding-dresses.html">Hochzeitskleider</a></li>
                                      <li><a href="custom-work.html">Maßarbeit</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="widget links-widget">
                              <h4 class="widget-title">Links</h4>
                              <div class="widget-content">
                                  <ul>
                                      <li><a href="about.html">Über uns</a></li>
                                      <li><a href="team.html">Unser Team</a></li>
                                      <li><a href="gallery.html">Unsere Galerie</a></li>
                                      <li><a href="contact.html">Kontakt</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="widget links-widget">
                              <h4 class="widget-title">Rechtliches</h4>
                              <div class="widget-content">
                                  <ul>
                                      <li><a href="about.html">Hilfe</a></li>
                                      <li><a href="about.html">Nutzungsbedingungen</a></li>
                                      <li><a href="about.html">Datenschutzrichtlinie</a></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="footer-border-bottom mb-40"></div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="contact-widget_address-title">Besuchen Sie unseren Shop</div>
                          <div class="contact-widget_address mb-40">Hermann-Fischerstraße 2
                            9400 Wolfsberg</div>
                      </div>
                      <div class="col-md-6">
                          <div class="contact-widget_mail-title">Senden Sie uns eine E-Mail</div>
                          <div class="contact-widget_mail mb-40"><a href="mailto:zohimjethnobyoyuna@gmx.at">zohimjethnobyoyuna@gmx.at</a></div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
  <!-- Footer unten -->
  <div class="footer-bottom">
      <div class="auto-container">
          <div class="copyright">© Urheberrecht 2023 von Zohimj</div>
      </div>
  </div>
</footer>
